/* @import "compass/css3"; */

/* @import "compass/css3"; */
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900);

/* colors */
$blue:rgba(79,192,210,1);
$green:rgba(82,210,154,1);
$yellow:rgba(231,196,104,0.7);
$orange:rgba(235,118,85,1);
//$dark-bg:rgba(255,255,255,0.9);
$dark-bg:rgba(0,0,0,0.9);
$light-bg:rgba(255,255,255,0.9);
$text:rgba(0,0,0,0.9);

body {
  margin: 0;
  font-family: 'Lato', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(#222c31, #111d32);
  color: #d9e2f1;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.error-block {
  background-color: #f0d9e5;
  margin: 1rem 0;
  padding: 1rem;
  border-radius: 4px;
  color: #890b35;
  display: flex;
  gap: 2rem;
  align-items: center;
  text-align: left;
}

.error-block-icon {
  font-size: 2rem;
  width: 3rem;
  height: 3rem;
  color: #fff;
  background-color: #890b35;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error-block h2 {
  color: inherit;
  font-size: 1.25rem;
  margin: 0;
}

.error-block p {
  margin: 0;
}

.center {
  text-align: center;
}


.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  margin: 1rem 0;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #e30d5b;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #e30d5b transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.wrapper {
  width:90%;
  height: 5%;
  margin-left:5%; 
  margin-right:5%;
  padding:0;
  background:$light-bg;
  color:$text;
  position:relative;
}

/* lists */
.row ul {
  margin:0;
  padding:0;
}
.row ul li  {
  margin:0;
  padding:2px 4px;
  font-size:13px;
  text-align:left;
  font-weight:normal;
  list-style:none;
  display:inline-block;
  width: 10%;
	box-sizing:border-box;
  overflow-wrap: break-word;
}

.title ul li {
  padding:0px 0px 0px 2px;
  font-size: 20px;
}

/* rows */
.row {
  border-left:2px solid darken($blue, 30%);
  border-right:2px solid darken($blue, 30%);
  padding:5px 5px;
  height: relative;
  font-size:0;
  position:relative;
  overflow:hidden;
  transition:all 0.2s ease-out;
  border-top:1px solid darken($light-bg, 100%);
}
.row:hover {
  border-left:2px solid lighten($blue, 30%);
  border-right:2px solid lighten($blue, 30%);
  background-color:lighten(rgb(33,31,35), 10%);
  color: $light-bg;
  height:relative;
}
.title {
  padding:20px 0 5px 5px;
  height:relative;
  text-align: left;
  background-color: darken($light-bg, 30%);
  border-left:3px solid darken($dark-bg, 100%);
  border-right:3px solid darken($dark-bg, 100%);
}

// Modal
.modal-close {
  float: right;
}
.modal-position {
  position: "relative";
}

// .text-about {
//   position: relative;
// }
// .text-about:hover:after {
//   position: absolute;
//   content: attr(title);
//   display: inline-block;
//   left: 0px;
//   top: 0px;
//   padding: 5px;
//   width: 80%;
//   height: 100%;
//   color: rgb(255, 255, 255);
// }
